*{
    padding: 0%;
    margin: 0%;
}

.logo{
    height: 50px;
}

.logo a{
    display: inline-block;
    text-decoration: none;
}

#header{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    background: #222222;
    z-index: 999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

#navbar li{
    list-style: none;
    padding: 0 25px;
    background-color: transparent;
}

#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana;
    color: white;
    background-color: transparent;
}


#navbar li a:hover,
#navbar li a.active{
    color: #FF5722;
    transition: 0.3s ease-in-out;
}

#mobile{
    display: none;
}   
#close{
    display: none;
}
  /* navbar has been ended */

#hero{
    background-image: url(images/background\ image.jpg);
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

#hero h2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 10px;
}

#hero p{
    text-align: center;
    font-family: sans-serif;
    line-height: 1.5px;
    color: black;
    padding-left: 15px;
    padding-bottom: 15px;
}

 #hero button{ 
    background-color: #0056D2;
    padding: 10px 10px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
}

#hero button a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;

}

#hero button a:hover{
    color: #FF5722;
}

#hero button:hover{
    background-color: aqua;
}

 
/* Hero section has been ended */

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
}

#feature img{
    height: 170px;
    padding-left: 10px;
}

#feature .fe-box{
    width: 100%;
    margin-bottom: 5px;
}

.section-p1{
    padding: 40px 80px;
}

#feature h6{
    font-weight: 700;
    font-size: 20px;
    font-family: Arial;
}

#feature .fe-box{
    text-align: center;
    padding: 25px 15px;
    width: 180px;
    box-shadow: 15px 15px 30px rgb(226, 221, 221);
    border: 1px solid wheat;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 20px rgb(65, 62, 62);
    cursor: pointer;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    color: #080808;
    background-color: #07f3cc;
    border-radius: 4px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: blueviolet;
    color:#F9F9F9;
}

#feature .fe-box:nth-child(3) h6{
    background-color:#0056D2;
    color: chartreuse;
}

#feature .fe-box:nth-child(4) h6{
    background-color: brown;
    color: cornsilk;
}

#feature .fe-box:nth-child(5) h6{
    background-color: yellow;
    color: #080808;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #333333;
    color: white;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
    gap: 25px;
}

#product1{
    text-align: center;
    padding: 50px 40px;
}

#product1 h2{
    font-size: 80px;
    font-family:Arial;
}

#product1 p{
    font-size: px;
}

#product1 .pro{
    width: 15%;
    min-width: 20px;
    padding: 15px 25px;
    border: 1px solid rgb(201, 190, 190);
    border-radius: 25px;
    box-shadow: 2px 2px black;
    transition: 0.2s ease-in-out;
}

#product1 .pro:hover{
    box-shadow: 5px 5px rgb(61, 60, 60);
}

#product1 .pro img{
    width: 100%;
    cursor: pointer;
    box-shadow: #222222;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0px;
}

#product1 .pro .des span{
    color: #222222;
    font-size: 15px;
}

#product1 .pro .des h5{
        padding-top: 7px;
        padding-bottom: 5px;
        color: #080808;
        font-size: 25px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(223, 166, 22);
}


#product1 .pro .des h3{
    padding-top: 5px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(54, 129, 54);
}

.section-m1{
    margin: 40px 0;
}

 #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner\ image.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
 }

 #banner h4{
    color: white;
    font-family: Cambria;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 5px;
 }

 #banner h2{
    color: white;
    font-family: Cambria;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 #banner span{
    color: #FF5722;
    font-weight: bold;
 }


 #banner button{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
 }

 #banner button:hover{
    color: #07f3cc;
    background-color: #222222;
 }

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/banner-box\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 580px;;
    height: 35vh;
}

#sm-banner .banner-box2{
    background-image: url(images/banner-box-2.jpg);
}

#sm-banner h4{
    color: white;
    padding-left: 50px;
    letter-spacing: 1px;
    font-size: 20px; 
    font-weight: 600;
}

#sm-banner h2{
    padding-left: 50px;
    padding-bottom: 5px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
}

#sm-banner span{
    padding-left: 110px;
    padding-bottom: 10px;
    padding-top: 5px ;
    color: black;
    font-weight: 15px;
}

#sm-banner .btn1{
    font-weight: 500px;
    font-size: 13px;
    padding: 10px 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid wheat;
}

#sm-banner .banner-box:hover button{
    background-color: rgb(38, 9, 199);
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 15px;
    gap:    20px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-image: url(images/banner-box-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 32%;;
    height: 30vh; 
}

#banner3 .banner-box2{
    background-image: url(images/banner-box-4.jpg);
}

#banner3 .banner-box2 h4{
    color: white;
}

#banner3 .banner-box3{
    background-image: url(images/banner-box-5.jpg);
}

#banner3 .banner-box3 h2{
    color: #FFFFFF;
}

#banner3 .banner-box3 h4{
    color: wheat;
    padding-left: 40px;
}

#banner3 h4{
    color: rgb(10, 114, 53);
    font-size: 20px;
    padding-left: 20px;
}
    
#banner3 h2{
    color:#3013b3;
    padding-left: 20px;
}

#banner3 .banner-box2 h2{
    color: #FFFFFF;
}

#Newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/newsletter\ banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Newsletter h4{
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}

#Newsletter p{
    font-size: 15px;
    font-weight: 400;
    color: #080808;
}

#Newsletter span{
    color: white;
}

#Newsletter .form{
    display: flex;
    width: 30%;
}

#Newsletter input{
    height: 3rem;
    padding: 0 1em;
    font-size: 14px;
    width: 60%;
    border-radius: 2px;
    border: transparent;
    outline: none;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;
}

#Newsletter button{
    padding: 10px 10px;
    background-color: #088178;
    color: white;
    font-size: 15px;
    border: transparent;
    white-space: nowrap;
    letter-spacing: 1px;
    cursor: pointer;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .add{
    padding-bottom: 10px;
}

footer .logo{
    height: 70px;
    padding-bottom: 50px;
}

footer h4{
    font-size: 20px;
    font-family: Arial;
    padding-bottom: 20px;
}

footer p{
    font-size: 15px;
    font-family: Arial;
    margin: 0 0 5px 0;
}

footer a{
    font-size: 18px;
    text-decoration: none;
    color: #0056D2;
    margin-bottom: 10px;
}

footer .Follow{
    margin-top: 20px;
}

footer .Follow i{
    color: #333333;
    padding-right: 8px;
    cursor: pointer;
}

footer .Follow i:hover{
    color: #07f3cc;
}

footer .col a:hover{
    color: #115c4f;
    transition: o.3s ease-in;
}
 .Copyright P{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
 }



/* media query for iPad */

@media (max-width: 768px) {
    /* .section-p1 {
        padding: 40px 40px;
    } */

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        max-width: 250px;
        background-color: #F9F9F9;
        box-shadow: 0 10px 10px black;
        padding: 60px 0 30px 20px;
        padding-bottom: 40px;
    }

    #navbar.active{
        right: 0px;
        padding-bottom: 40px;

    }

    #navbar li{
        padding-bottom: 30px;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 17px;
        font-family: Verdana;
        color: #383333;
        background-color: transparent;
        overflow: hidden;
        padding-bottom: 40px;
    }

    #mobile{
        padding-right: 30px;
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #07f3cc;
        display: inline;
        padding-right: 5px;
    }

    #close{
        position: absolute;
        display: initial;
        top: 30px;
        left: 30px;
        color: #080808;
        font-size: 25px;
    }
    #bar{
        cursor: pointer;
    }

    #lg-bag{
        display: none;
    }
    #hero {
        background-image: url(images/mobile-background\ image.jpg);
        display: flex;
        flex-direction: column;
        color: #F9F9F9;
    }

    #hero h2{
        color:greenyellow;
    }
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
       margin: 15px 15px;
       padding-left: 0;
       padding-right: 0;
    }
    #product1 h2 {
        font-size: 30px;
        font-family: Arial;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        flex-wrap: wrap;
    }

        #product1 .pro {
            margin: 15px;
        }

        #banner {
             height: 20vh;
        }

        #sm-banner .banner-box {
           
            min-width: 100%;
            height: 20vh;
        }

        #banner3 {
                 display: flex;
                flex-direction: row;
                justify-content: flex-start;
        }

        #banner3 .banner-box {
            flex-direction: row;
            width: 30%;
            min-width: auto;
            height: 120px;
        }

        #Newsletter .form{
            width: 70%;
            padding-top: 20px;
        }

}
        /* media query for Iphon */
@media (max-width: 375px) {
    #header {
       
        padding-top: 10px;
        padding-left:  10px;
        padding-bottom: 10px;   
    }
    #hero h2 {
        color: rgb(5, 5, 5);
        text-align: left;
    }
    
    #hero {
           padding: 0 20px;
           background-position:right;
    }

    #product1 .pro {
        width: 100%;
        
    }

    #sm-banner .banner-box {
        height: 40vh;
        /* width: 200px; */
    }

    #sm-banner span {
        padding-right: 60px;
        line-height: 20px;
        color: rgb(3, 3, 3);
    }

    #sm-banner .banner-box2 {
        margin-top: 15px;
    }

    #banner3 .banner-box {
        
        width: 100%;
    }

    #banner3 h2 {
        color: #3013b3;
        font-size: medium;
        padding-left: 20px;
    }

    #banner3 h4 {
        color: rgb(10, 114, 53);
        font-size: 15px;
        padding-left: 20px;
        flex-direction: column;
    }

    #Newsletter .form {
        width: 100%;
    }

}  

